<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/qlv?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">p5385676</property>
        <!--最大最小连接池-->
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Dao.popj.entity.Regist" />
        <mapping class="Dao.popj.entity.Infor" />
        <mapping class="Dao.popj.entity.Person" />
        <mapping class="Dao.popj.entity.Love" />
        <mapping class="Dao.popj.entity.Message" />
        <mapping class="Dao.popj.entity.Lmessage" />
        <mapping class="Dao.popj.entity.BeforeLove" />

    </session-factory>
</hibernate-configuration>