<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://10.4.26.93:3306/d2b1f8a30e2614485956e7a58af67824b</property>
        <property name="connection.username">ucXMTAAh8JAsT</property>
        <property name="connection.password">pfHz7WzDZ5Psg</property>
        <!--最大最小连接池-->
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Dao.popj.entity.Regist" />

    </session-factory>
</hibernate-configuration>