<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation"
                  value="hibernate.cfg.xml">
        </property>
        <property name="hibernateProperties" >
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.hbm2ddl.auto=update
            </value>
        </property>
    </bean>
    <!--这个是写登录和注册等的sql执行bean-->
    <bean id="dandz" class="Dao.select.Dandz" p:infor-ref="infor" p:sf-ref="sessionFactory"
            p:coolie-ref="coolie" p:lg-ref="entity" />
    <bean id="aboutmessage" class="Dao.select.AboutMessage" p:sf-ref="sessionFactory"
          p:coolie-ref="coolie" p:person-ref="person" />
    <bean id="entity" class="Dao.popj.entity.Regist" />
    <bean id="love" class="Dao.popj.entity.Love" />
    <bean id="infor" class="Dao.popj.entity.Infor" />
    <bean id="person" class="Dao.popj.entity.Person" />
    <bean id="message" class="Dao.popj.entity.Message" />
    <!--加cookie的bean-->
    <bean id="coolie" class="Dao.cookie.Coolie"/>
    <!--更新信息的bean-->
    <bean id="complete" class="Dao.select.CompletInfor" p:sf-ref="sessionFactory" p:coolie-ref="coolie"
            p:infor-ref="infor" p:love-ref="love" />

</beans>