<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation"
                  value="hibernate.cfg.xml">
        </property>
        <property name="hibernateProperties" >
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.hbm2ddl.auto=update
            </value>
        </property>
    </bean>
    <bean id="dandz" class="Dao.select.Dandz" >
        <property name="sf" ref="sessionFactory"/>
        <property name="lg" ref="entity" />
        <property name="infor" ref="infor"/>
        <property name="coolie" ref="coolie"/>
    </bean>
    <bean id="entity" class="Dao.popj.entity.Regist" />
    <bean id="infor" class="Dao.popj.entity.Infor" />
    <bean id="coolie" class="Dao.cookie.Coolie"/>

</beans>