/*  l的一些样式 */
div.bordr{
    position: absolute;
    width: 400px;
    height: 500px;
    left:100px;
    top:150px;
    word-warp: break-word;
}
div.bordr2{
    position: absolute;
    background-color: #ececff;
    width: 370px;
    height: 380px;
    right:100px;
    top:150px;
    word-warp: break-word;
}
div.bordr3{
    position: absolute;
    border: 3px solid #ff0000;
    width: 400px;
    height: 500px;
    right:100px;
    top:150px;
    word-warp: break-word;
}
/* 登录和注册按钮*/
div.dz{
    position: absolute;
    width: 180px;
    height: 60px;
    right:50px;
    top:20px;
}
div.d{
    position: absolute;
    width: 75px;
    height: 60px;
    right:-1px;
    top:-1px;
    text-align:center;
}
div.z{
    position: absolute;
    width: 75px;
    height: 60px;
    left:1px;
    top:-1px;
    text-align:center;
}
a.dz
{
    display:block;
    font-weight:bold;
    font-size: 200%;
    color: #00ffff;
    background-color:#2894ff;
    text-align:center;
    padding:4px;
    text-decoration:none;
    border: 1px solid ;
    border-radius: 1em;
}
a.dz:hover{
    color: #ffff37;
    background-color: #ffa6ff;
}
/*登录界面*/
div.log{
    padding-left: 30px;
}
.input{
    outline: none;
    width: 300px;
    height: 40px;
    font-size: 200%;
    color: #bebebe;
}
.sub{
    position: relative;
    bottom: -65px;
    display:block;
    width:300px;
    height: 40px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4efeb3;
    text-align:center;
    font-size: 150%;
    border-radius: 0.5em;
}
.change{
    display:block;
    width:150px;
    height: 40px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4efeb3;
    font-size: 150%;
    float: right;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 0.5em;
}
div.vali{
    width: 300px;
    position: relative;
    bottom: 53px;
    left: 6px;
    float: left;
}
.welcome{
    position: relative;
    bottom: -32px;
    left: 106px;
    color: #bebebe;
}
/**/
p.tit{
    text-align:center;
    font-weight:900;
    font-size: 300%;
}
p.bod{
    font-size: 150%;
    margin-left:25px;
    text-indent: 2em;
    width:350px;
    border:0px solid #000000;
    word-wrap:break-word;
    font-style:oblique;
    letter-spacing: 3px;
}